# Environnements virtuels
venv/
.env/

# Fichiers compilés Python
*.pyc
__pycache__/

# Graphiques générés
charts/

# Configurations d'éditeur
.vscode/
.idea/

# Environnements virtuels
node_modules/
.node_modules/
# Historique des relevés (local)
history.csv
